.main-tab{
    width: 1336px;
height: 178px;
padding: 0px 52px 0px 52px;
gap: 16px;
}
.first-title{
margin-top: 25px;
font-family: 'Inter-semibold';
font-size: 16px;
font-weight: 600;
line-height: 26px;
text-align: center;
}
.second-title{
font-family: 'Inter-semibold';
font-size: 54px;
font-weight: 600;
line-height: 62px;
letter-spacing: -1px;
text-align: center;
}
.third-title{
margin-left: auto;
margin-right: auto;
width: 600px;
font-family: 'Inter-regular';
font-size: 20px;
font-weight: 400;
line-height: 35px;
text-align: center;
margin-bottom: 48px;
margin-top: 16px;
}
.large-section{
width:1384px;
height:908px;
box-sizing:border-box;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
margin-left: auto;
margin-right: auto;
}
.medium-sec{
    box-sizing: border-box;
width: 310px;
height:430px;

}
.portret{
width: 310px;
height: 230px;
}
.little-sec{
width: 278px;
height: 108px;
gap: 8px;
}
.name{
font-family: 'Inter-semibold';
font-size: 18px;
font-weight: 600;
line-height: 30px;
margin-left: 16px;
color: rgba(40, 40, 40, 1);
}
.profession{
font-family: 'Inter-regular';
margin-left: 16px;
font-size: 14px;
font-weight: 400;
line-height: 22px;
color: rgba(62, 62, 89, 1);
}
.description{
font-family: 'Inter-regular';
margin-left: 16px;
font-size: 14px;
font-weight: 400;
line-height: 22px;
color: rgba(95, 105, 128, 1);
}
.social-network{
    display: flex;
    align-items: flex-end;
   width: 140px; ;
   height: 36px; ; 
   margin-left: 16px;
   margin-top: 24px;
}
.meta{
   margin-right: 16px;
}
.main-footer{
    box-sizing: border-box;
    margin-top: 48px;
width: 100%;
height: 512px;
padding: 108px 184px 181px 164px;
background-color: rgba(83, 83, 83, 0.33);
}
.footer-bar{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 1200px;
    height: 223px;
}
.left-cont{
    width: 318.05px;
height: 221px;
top: 108px;
left: 164px;
}
.about{
font-family: 'Inter-regular';
margin-top: 32px;
margin-left:12px;
font-size: 14px;
font-weight: 400;
line-height: 16.94px;
text-align: left;
color: rgba(83, 83, 83, 1);
}
.meta-{
    color: rgba(30, 30, 30, 1);
}
.infinity{
    width: 100px;
    height: 64px;
    top: 108px;
    left: 164px;
}

.meta-network{
    display: flex;
    width: 104px;
    height: 24px;  
margin-left: 10px;
margin-top:28px ;
}
.footer-link{
width: 136px;
height: 223px;
}
.services{
    width: 199px;
    height: 223px;
}
.languages{
    width: 107px;
    height: 127px;
}
.link{
    margin-bottom: 71px;
    font-family: 'Inter-semibold';
    font-size: 20px;
    font-weight: 600;
    line-height: 24.2px;
    text-align: left;
    color: rgba(30, 30, 30, 1);
}
.bar-button{
    margin-bottom: 15px;
font-family: 'Inter-regular';
font-size: 14px;
font-weight: 400;
line-height: 16.94px;
text-align: left;
color:rgba(83, 83, 83, 1)
}
.style-button{
    width:80px;
    height: 45px;
    padding: 14px 16px 14px 16px;
    background-color: rgba(5, 74, 104, 1);
    color: aliceblue;
}